---
import { eq } from "drizzle-orm";
import Layout from "../../layouts/Layout.astro";
import { playlists } from "../../models/schema";
import { db } from "../../utils/db";

const { playlistId: playlistIdParam = "" } = Astro.params;
const playlistId = parseInt(playlistIdParam);

let playlist = await db.query.playlists.findFirst({
  where: eq(playlists.id, playlistId),
});

if (!playlist) return Astro.redirect("/404");
---

<Layout title={playlist?.name}>
  <main>
    <header>
      <h1>
        {playlist?.name}
        <menu>
          <a href={`/${playlistId}/edit/`} title="Edit MixPod details"> 📝 </a>
        </menu>
      </h1>
      <mark>Public MixPod</mark>

      <p>{playlist?.description}</p>
      <p>{playlist?.createdBy}</p>
    </header>
  </main>

  <style>
    header {
      position: relative;

      h1 {
        width: fit-content;
      }

      mark {
        font-size: var(--step--1);
        display: block;
        width: fit-content;
        position: absolute;
        top: -0.8em;
        z-index: -1;
        padding: 0.3em;
      }

      menu {
        display: inline-block;
        font-size: 0.2em;
      }
    }
  </style>
</Layout>
