<!-- ---
import { db, Playlist, Episode, PlaylistEpisode, eq } from "astro:db";

import Layout from "../../layouts/Layout.astro";

const query = Astro.url.searchParams.get("q");
const { playlistId: playlistIdParam = "" } = Astro.params;
const playlistId = parseInt(playlistIdParam);

const playlists = await db
  .select()
  .from(Playlist)
  .where(eq(Playlist.id, playlistId));

const playlist = playlists[0];

if (!playlist) return Astro.redirect("/404");

const playlistEpisodes = await db
  .select({ episode: Episode })
  .from(PlaylistEpisode)
  .innerJoin(Episode, eq(Episode.id, PlaylistEpisode.episodeId))
  .where(eq(PlaylistEpisode.playlistId, playlistId));

console.log(playlistEpisodes);
---

<Layout title={playlist?.name}>
  <main>
    <header>
      <h1>
        {playlist?.name}
        <menu>
          <a href={`/${playlistId}/edit/`} title="Edit MixPod details"> 📝 </a>
        </menu>
      </h1>
      <mark>Public MixPod</mark>

      <p>{playlist?.description}</p>
      <p>{playlist?.createdBy}</p>
    </header>
    <section>
      <form method="GET" action={`/${playlistId}/search`}>
        <fieldset>
          <legend>Search for episodes to add</legend>
          <input type="search" name="q" value={query} required />
          <menu><button type="submit">Search</button></menu>
        </fieldset>
      </form>
      {
        playlistEpisodes.map(({ episode }) => (
          <article>
            <h2 set:html={episode.title} />
            <audio controls src={episode.audio} />
          </article>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  header {
    position: relative;

    h1 {
      width: fit-content;
    }

    mark {
      font-size: var(--step--1);
      display: block;
      width: fit-content;
      position: absolute;
      top: -0.8em;
      z-index: -1;
      padding: 0.3em;
    }

    menu {
      display: inline-block;
      font-size: 0.2em;
    }
  }

  fieldset {
    width: 100%;
    margin-bottom: var(--space-md);
    display: flex;
    border: transparent;
    padding: 0;
    font-size: var(--step--1);

    legend {
      margin-bottom: 0.5em;
    }

    input {
      flex: 1;
      margin-right: var(--space-2xs);
    }
  }

  article {
    h2 {
      margin-bottom: var(--space-xs);
    }
  }
</style> -->
